# dependencies
node_modules/
/.pnp
.pnp.*
# next
.next/
out/
/build
next-env.d.ts
# env
.env*
!.env.example
# vercel
.vercel
# supabase local
supabase/.branches/
supabase/.temp/
# tests
coverage/
playwright-report/
test-results/
# debug
npm-debug.log*
# misc
.DS_Store
*.pem
*.tsbuildinfo
